<div class="container">
    <form #userForm = "ngForm" (ngSubmit) = "onSubmit()" novalidate>
        <div class="form-group">
            <label>First Name</label>
            <input type="text" required #f_name = "ngModel" 
            [class.is-invalid] = "f_name.invalid && f_name.touched" 
            class="form-control" name="first_name" [(ngModel)] = "userModel.firstName">
            <small class="text-danger" [class.d-none] = "f_name.valid || f_name.untouched">First Name is required</small>
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" required #l_name = "ngModel" 
            [class.is-invalid] = "l_name.invalid && l_name.touched" 
            class="form-control" name="last_name" [(ngModel)] = "userModel.lastName">
            <small class="text-danger" [class.d-none] = "l_name.valid || l_name.untouched">Last Name is required</small>
        </div>
        <div class="form-group">
            <label>Enter your Mobile no.</label>
            <input type="tel" #phone = "ngModel" pattern="^\d{10}$"
            [class.is-invalid] = "phone.invalid && phone.touched" 
            class="form-control" name="mobile" [(ngModel)] = "userModel.mobile">
        </div>

        <div class="form-group">
            <label>Enter Email</label>
            <input type="email" class="form-control" name="email" [(ngModel)] = "userModel.email">
        </div>
        
        <!-- <div class="form-group">
            <label>Select your Interests</label>
            <select class="custom-select" name = "interests" [(ngModel)] = "userModel.interests">
                <option value = "">I'm Interested in</option>
                <option *ngFor = "let topic of topics">{{topic}}</option>
            </select>
        </div>
     -->
        <!-- <div class="mb-3">
            <label>Time Preference</label> 
            <div class="form-check">
                <input class="form-check-input"  type="radio"
                 name="time_prefrences" [(ngModel)] = "userModel.timePrefrence" value ="morning" ngModel>
                <label class="form-check-label">Morning</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="time_prefrence" [(ngModel)] = "userModel.time_prefrences"  value = "evening" ngModel>
                <label class="form-check-label">Evening</label>
            </div>
        </div> -->

        <!-- <div class="form-check-mb-3">
                <input class="form-check-input" type="checkbox" name ="promotional_offers" [(ngModel)] = "userModel.promotional_offers" ngModel>
                <label class="form-check-label">
                    Send me Propmotional Offers
                </label>
        </div> -->

        <div class="form-group">
            <label>Create Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)] = "userModel.password">
        </div>
        <!-- <div class="form-group">   
            <label>Re-Enter Your Password</label> 
            <input type="password" class="form-control" name="re_password" ngModel>
        </div> -->
        <button class="btn btn-primary" type="Create account">Create Account</button>
    </form>
</div>