<!-- <div class="row">
  <div class="col-0">
    <div class="container-fluid">
      <div class="list-group">
        <a routerLink="byCategoryId/{{cat.id}}" class="list-group-item" *ngFor="let cat of category"
          routerLinkActive="bg-primary text-white font-weight-bold">{{cat.name}}</a>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="container">
      <div class="row">
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6" *ngFor="let book of books">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" height="300px"
                src="https://image3.mouthshut.com/images/imagesp/925868055s.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">{{book.name}}</a>
              </h4>
              <h5>{{book.price | currency: 'INR'}}</h5>
              <p class="card-text text-truncate">{{book.description}}</p>
            </div>
            <div class="card-footer">
              <button class="btn btn-primary float-right">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <div class="row text-center">
      <div class="col-lg-3 col-md-6 mb-4" *ngFor="let book of books">
        <div class="card h-100">
          <img class="card-img-top" src="https://image3.mouthshut.com/images/imagesp/925868055s.jpg" height="300px" alt="">
          <div class="card-body">
            <h2><a href="#">{{book.name}}</a> </h2>
            <h4>{{book.price | currency: 'INR'}}</h4>
            <p class="card-text text-truncate">{{book.description}}</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
